doctype 5
html
  head
    title frm.js
    link(rel="stylesheet", href="./css/screen.css")
  body
    #wrap
      a#frmplayer(href="./#{frms[0].path}")
      #list
        ul
          - each frm in frms
            li
              - var classes = frm === frms[0] ? "frmlink actived" : "frmlink"
                a(class=classes, href="./#{frm.path}")
                  span.kind= frm.kind
                  span.appearance= frm.appearance
                  span.action= frm.action
                  .loader
                    div
                    div
                    div
                    div
                    div
                    div
      p#footer
        a(href="https://github.com/caasi/frm.js") Fork me on GitHub
    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    script(src="./js/color.js")
    script(src="./js/fallout.frm.js")
    script(src="./js/jquery.frmplayer.js")
    script(src="./js/main.js")
